pip>=25.0.1
setuptools>=68.2.2
wheel >= 0.37.0
asgiref==3.8.1
Django==4.2.8

gunicorn==21.2.0

packaging==24.2

pillow==11.1.0

python-decouple==3.7

sqlparse==0.5.3

typing_extensions==4.12.2

tzdata==2025.1

whitenoise==6.6.0

django-allauth==0.47.0

requests==2.26.0

pyJWT==2.3.0
